<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    <ul>
        <li>
            <h1>Ingeniería Informática</h1> - <h3>(2021-Actualmente)</h3>
        </li>
        <p>Desarrollo de software, diseño y programación de aplicaciones, sistemas operativos, software embebido, protección de la información y los sistemas informáticos contra amenazas,administracion de bases de datos.</p>
    </ul>
    
    <ul>
        <li>
            <h1>Desarrollador Full Stack</h1> - <h3>(1 year)</h3>
        </li>
        <p>Cuento con un perfil de profesional versátil capaz de desarrollar tanto el frontend como el backend de una aplicación web. Poseo conocimientos en múltiples tecnologías y sus aplicaciones, desde la interfaz de usuario hasta la lógica de negocio y la base de datos.</p>
    </ul>

    <ul>
        <li>
            <h1>QA tester (Testing manual & Testing automation)</h1> - <h3>(1 year)</h3>
        </li>
        <p>El papel que desempeño como QA Tester es asegurar la calidad y funcionalidad de un software o sistema determinado, donde se debe lograr identificar y resolver problemas para asegurarle al usuario una experiencia optima y sin errores.</p>
    </ul>
