<div class="row">
<h1>Experiencia Laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
<ul>
    <li>
        <h1>Trabajo 1</h1> - <h3>(years)</h3>
    </li>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt eum sunt nostrum, a ea, enim id optio consequuntur doloremque nobis eius, fugit nisi neque. Facilis voluptatem distinctio veritatis dicta error.</p>
</ul>

<ul>
    <li>
        <h1>Trabajo 2</h1> - <h3>(years)</h3>
    </li>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt eum sunt nostrum, a ea, enim id optio consequuntur doloremque nobis eius, fugit nisi neque. Facilis voluptatem distinctio veritatis dicta error.</p>
</ul>


</div>
</div>
