<div class="row">
<h1>Experiencia Laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
<ul>
    <li>
        <h1>QA Engineer</h1> - <h3>(2 years)</h3>
    </li>
    <p>Contapyme. Desempeñe el cargo de testeo y desarrollo de software en webpage para compañias</p>
</ul>

<ul>
    <li>
        <h1>Software Support</h1> - <h3>(1 year)</h3>
    </li>
    <p>Mogagames. Mi tarea fue analizar y proveer soluciones que maximicen el rendimiento de la produccion y atencion al cliente implementando app tools</p>
</ul>


</div>
</div>
