<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 class="display-3">Acerca de Mí</h1>  
        <p>Mi nombre es Maria Pia Navarro Salas, tengo 21 años actualmente, me he sumergido en el mundo de la programacion desde los 14 años siempre implementandolo en videojuegos.
            Soy una persona entusiasta y proactiva, cuento con habilidades tecnicas solidas y cualidades blandas que me permiten colaborar de manera efectiva en equipos, resolver problemas de manera creativa y adaptarme a un entorno en constante cambio.
            Me encantaria formar parte de un equipo dinamico en el que pueda aportar mi experiencia y continuar creciendo profesionalmente.
        </p>
        </span>
    </div>
    </div>
