.row{
    padding: 20px;

}
div{
    background-color: #556e79;
    text-align: center;

}

/*estilo de foto perfil*/
@media (min-width:576px){
    #fotodeperfil{
        position: absolute;
        width: 18%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 1%;
        top: 649px;
    }
}

@media (max-width:575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 710px;
    }
}



/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;

}

