<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpeg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    
        <h1 class="display-6">Maria Pia Navarro Salas</h1>
        <h1 class="display-6">Full Stack Developer Jr.</h1>
    </div>
    <div>
        <span>
            <h1 class="display-3">acerca de mi</h1>  
        <p>Lorem ipsum dolor sit 
            amet consectetur adipisicing
             elit. Eaque aspernatur possimus
              facere illo. Non voluptate 
              aliquid dolores sequi! Qui 
              odit minima nesciunt maiores
               odio cupiditate, quae 
               laudantium tempora. Vel!</p>
        </span>
    </div>
    </div>
