.row {
    background-color:#556e79 ; 
}


.caja-padre class="row"{
    width: 0;
    display: grid; grid-template-columns: auto auto auto;
    background-color: #556e79;
    
    
}

.contenedor{
    width: 100%;
    padding: 30px 30px 30px;
    background: linear-gradient(450deg,#556e79,rgb(8, 83, 117));
    border: 2px solid rgba(102, 157, 127, 0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.02);
}

.contenedor *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
    font-weight: 500;
    

}

h2{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}
.skills{
    margin-bottom: 36px;
}

.detalles{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu{
    position: relative;
    border: 1px solid cyan;
    border-radius: 20px;
    

}
.menu div{
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 10px;
    background-color: cyan;
 
}

/*animacion */
#html-mu{
    animation: html-barra 2s forwards;
   
}

@keyframes html-barra{
100%{
    width: 90%;
}
    
}

#java-mu{
    animation: java-barra 2s forwards;
}
    @keyframes java-barra{
        100%{
            width: 60%;
        }
            
}

#css-mu{
    animation: css-barra 2s forwards;
}
    @keyframes css-barra{
        100%{
            width: 95%;
        }
            
}

#gestion{
    animation: gestion-barra 2s forwards;
}
@keyframes gestion-barra{
    100%{
        width: 70%
    }
}