<div class="caja-padre">
    <div class="contenedor">
        <h2>SOFT SKILLS
        </h2>
        <div class="menu">

        
        </div>
        

<div class="skills">
<div class="detalles">
<span>COMPAÑERISMO</span>
<span>90%</span>
</div>

<div class="menu">
<div id="html-mu"></div>
</div>
    </div>



    <div class="skills">
        <div class="detalles">
            <span>PROACTIVIDAD</span>
            <span>60%</span>
        </div>
    
    <div class="menu">
        <div id="java-mu"></div>
    </div>

    <div class="skills">
        <div class="detalles">
            <span>LIDERAZGO</span>
            <span>10%</span>
        </div>
    
    <div class="menu">
        <div id="css-mu"></div>
    </div>

    <div class="skills">
        <div class="detalles">
            <span>APRENDIZAJE</span>
            <span>40%</span>
        </div>
    
    <div class="menu">
        <div id="albondigas-mu"></div>
    </div>


    </div>
</div>

</div>
